<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
      <h1>Editing Item</h1>

      <%= render 'form', item: @item %>
    </div>
  </div>
  <%= link_to 'Show', @item %> |
  <%= link_to 'Back', items_path %>
</div>

